@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #FEFCE8;
  --foreground: #00004d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEFCE8;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.article-content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.article-content h1 {
  font-size: 2rem;
}

.article-content h2 {
  font-size: 1.5rem;
}

.article-content h3 {
  font-size: 1.2rem;
}

.article-content pre {
  background-color: #90a1b9;
  width: min-content;
}
