

.header {
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}


.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 2rem;

}

.hero-img  {
    border-radius: 50%;
    margin-right: 1rem;
}

.nav-bar {
    /*height: 2rem;*/

}

.nav-bar-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2rem;
}

.nav-bar-item {
    margin-right: 1rem;
    padding: 0.3rem;
}

.nav-bar-item:hover {
    border-bottom: 0.2rem solid black;
}

.nav-bar-item-active {
    border-bottom: 0.2rem solid black;
}
